:root {
  --box-shadow:
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px,
    rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Irish Grover", cursive;
  background-color: #c58f60;
  overflow-x: hidden;
  height: 100vh;
}
/**************************/
/*       Navigation       */
/**************************/

.nav-container {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: inherit;
  background-color: #c58f60;
}

.nav-links {
  padding: 0px 5px;
  margin-left: 20px;
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
}

.nav-link a {
  color: #d9d9d9;
}

button {
  margin-right: 20px;
  height: 30px;
  width: 150px;
  border-radius: 5px;
  border-color: #d9d9d9;
  background: transparent;
  color: #d9d9d9;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #d9d9d9;
  color: #c58f60;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/************************/
/*      Main            */
/************************/
.container {
  /* height: 100%; */
  width: 100vw;
  background-color: #c58f60;
}

.header {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text-container {
  width: 100%;
  text-align: center;
}

.pre-header {
  font-size: 1rem;
  margin: 1rem;
  margin-top: 8rem;
}

.sub-header {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.main-header,
.contact-heading {
  font-size: 2rem;
  margin: 1rem;
  font-family: "Amarante", cursive;
}

.image-header {
  margin-top: 80px;
  margin-right: 2rem;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-header img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background-size: 100%;
  background-repeat: no-repeat;
}

/************************/
/*      Footer          */
/************************/
.footer {
  height: 85px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d9d9d9;
}

.nav-link-footer a,
.copyright {
  color: #c58f60;
}

@media (min-width: 900px) {
  main .container {
    height: 80%;
  }
  .nav-container {
    height: 60px;
    flex-direction: row;
  }
  .nav-links {
    width: 25%;
  }
  .header {
    flex-direction: row;
  }
  .text-container {
    text-align: left;
    width: 50%;
  }
  .pre-header {
    font-size: 3rem;
    margin: 4rem;
    margin-top: 8rem;
  }
  .sub-header {
    font-size: 1.5rem;
    margin-left: 12rem;
  }
  .main-header {
    font-size: 5rem;
    margin: 7rem;
  }
  .footer {
    height: 115px;
  }
}
